<h1>FUN SURVEY FOR THE CHANCE TO WIN A HONDA CIVIC!!!!</h1>

<TABLE BORDER>

<TR ALIGN=CENTER>
<TD WIDTH=75> </TD>
<TD WIDTH=75><B>Strongly<br>agree</B></TD>
<TD WIDTH=75><B>Agree</B></TD>
<TD WIDTH=75><B>Neither<br>agree<br>nor<br>disagree</B></TD>
<TD WIDTH=75><B>Disagree</B></TD>
<TD WIDTH=75><B>Strongly<br>disagree</B></TD>
</TR>

<TR ALIGN=CENTER>
<TD  ALIGN=LEFT>
Computer-related skills are important in the job market.</TD>
<TD><INPUT TYPE="RADIO" NAME="skills" VALUE="1"></TD>
<TD><INPUT TYPE="RADIO" NAME="skills" VALUE="2"></TD>
<TD><INPUT TYPE="RADIO" NAME="skills" VALUE="3"></TD>
<TD><INPUT TYPE="RADIO" NAME="skill" VALUE="4"></TD>
<TD><INPUT TYPE="RADIO" NAME="skill" VALUE="5"></TD>
</TR>

<TR ALIGN=CENTER>
<TD  ALIGN=LEFT>
Schools have provided you with adequate preparation in computer skills for your career.</TD>
<TD><INPUT TYPE="RADIO" NAME="preparation" VALUE="1"></TD>
<TD><INPUT TYPE="RADIO" NAME="preparation" VALUE="2"></TD>
<TD><INPUT TYPE="RADIO" NAME="preparation" VALUE="3"></TD>
<TD><INPUT TYPE="RADIO" NAME="preparation" VALUE="4"></TD>
<TD><INPUT TYPE="RADIO" NAME="preparation" VALUE="5"></TD>
</TR>

<TR ALIGN=CENTER>
<TD  ALIGN=LEFT>
Some topics school teaches are unnecessary.</TD>
<TD><INPUT TYPE="RADIO" NAME="topics" VALUE="1"></TD>
<TD><INPUT TYPE="RADIO" NAME="topics" VALUE="2"></TD>
<TD><INPUT TYPE="RADIO" NAME="topics" VALUE="3"></TD>
<TD><INPUT TYPE="RADIO" NAME="topics" VALUE="4"></TD>
<TD><INPUT TYPE="RADIO" NAME="topics" VALUE="5"></TD>
</TR>

<TR ALIGN=CENTER>
<TD  ALIGN=LEFT>
Schools should implement better computer-focused curriculums.</TD>
<TD><INPUT TYPE="RADIO" NAME="curriculums" VALUE="1"></TD>
<TD><INPUT TYPE="RADIO" NAME="curriculums" VALUE="2"></TD>
<TD><INPUT TYPE="RADIO" NAME="curriculums" VALUE="3"></TD>
<TD><INPUT TYPE="RADIO" NAME="curriculums" VALUE="4"></TD>
<TD><INPUT TYPE="RADIO" NAME="curriculums" VALUE="5"></TD>
</TR>

</TABLE>

<input href="{% url 'success' %}" type=submit VALUE="Submit">
    
<HR>
